@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900');
@import "rwd.css";
*:focus {

    outline: 0;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.listing h1{
    color: #2288b7;
    font-size: 4em;
    font-weight: 300;
    margin: 20px;

}
.listing h2{
    color: #3b3b3b;
    font-size: 1em;
    font-weight: 400;
}
.listing hr{
    width: 100%;
    border-top: 1px solid #eaeced;
    margin:20px 0px 20px 0px;
}
.listing .search_module{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.listing button.search{
    background-image: linear-gradient(#689ff3, #2177ef);
    color:#fff;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    outline-width: 0;
    cursor: pointer;
}
.listing button.reset{
    background-image: linear-gradient(#eeeeee, #c4c4c4);
    color:#676767;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    outline-width: 0;
    cursor: pointer;

}
.pound_select{
    height: 35px;
    padding: 9px;
    background-color: #eaeced;
    border-radius: 5px;
    display: inline;
    margin: 4px;
}
.listing table {
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    color: #696969;

}
#listing_wrapper{
    width: 100%;
}
#listing_filter{
    display: none;
}

.listing table thead{
    background-image: linear-gradient(#ebedee, #e8eaeb);
    border-collapse: collapse;
    border-radius: 5px;
    border: 1px solid #dcdfe0;
    box-shadow: 0 0 0 1px #666;


}

.listing table thead tr th{
    padding: 20px;
    font-weight: bold;
}
.listing table thead tr th:nth-child(1){
    text-align: left;
    padding-left: 30px;
    width: 50%;
}
.listing table tbody tr th:nth-child(1){
    text-align: left;
    padding-left: 30px;
    width: 50%;
}

.listing table tbody tr td:last-child:before{
    content: '\00A3';


}

.listing table td:first-child{
    text-align: left;
}
.listing table tr:hover td {
    background-color: #ececec;
    cursor: pointer;
}



.listing tbody tr:nth-child(odd){
    background-image: linear-gradient(#f8f8f8, #f6f6f6);



}
.listing tbody tr td{
    padding: 20px;
    border: 1px solid #e8e8e8;

}
.listing table tbody tr{
    border: 1px solid #dcdfe0;
}
.dataTables_wrapper .dataTables_paginate {
    float: unset;
    text-align: center;
    padding-top: 2em;
}
table.dataTable thead .sorting, .sorting_asc, .sorting_desc{
    background: none;
}
table.dataTable thead .sorting_asc{
    background: none;
}

.poundRating{
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 50%;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    float: left;
    margin-left:7px;
    }
.poundRatingWhite{
    color: #696969;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.poundRatingBlue{
    color: #fff;
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.paging_simple_numbers span a.paginate_button.current{
    font-family: Helvetica Neue, Arial, sans-serif;
    width:34px;
    height: 34px;
    color: #fff;
    margin: 4px;
    padding: 8px;
    -moz-box-shadow:    inset 0 0 10px rgba(105,105,105,1);
    -webkit-box-shadow: inset 0 0 10px rgba(105,105,105,1);
    box-shadow:         inset 0 0 10px rgba(105,105,105,1);
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    background: #626262; /* Old browsers */
    background: -moz-linear-gradient(top, #626262 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #626262 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #626262 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.paging_simple_numbers span a{
    font-family: Helvetica Neue, Arial, sans-serif;
    width:34px;
    height: 34px;
    color: #696969;
    margin: 4px;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#listing_previous span a{
    -webkit-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    color: #3b3b3b;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#listing_next span a{
    -webkit-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    box-shadow: 0px 0px 1px 1px rgba(105,105,105,1);
    color: #3b3b3b;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}


.dataTables_wrapper .dataTables_paginate .paginate_button a{
    border: 0;
}

.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow {
    border: solid #696969;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}

#nameModal:first-letter{
    text-transform: uppercase;
}
#nameModal{
    font-size: 2em;
    color: #2288b7;
    font-weight: 300;
}
.modalData{
    margin: 20px;
}
#popupModal h4{
    text-transform: uppercase;
    font-size: 1em;
    color: #65b7b7;
}
.forFivePounds{
    color: #d6d5d4;
}